<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Link Hub Portal</title>
    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/jquery.validate.min.js"></script>
    <script src="~/lib/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Link Hub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">

                            @Html.ActionLink("Browse Urls", "Index", "BrowseURLs", null
                                           ,  new { @class = "nav-link" })
                        </li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="Categories" asp-action="Index" class="nav-link">Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="ApproveURLs" asp-action="Index">Approve URLs</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SubmitLHUrls" asp-action="CreateUrl">Submit URL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Welcome Mr./Ms. @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">LogOut</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">LogIn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">FaceBookLogin</a>
                            </li>


                        }
                    </ul>
                </div>
            </nav>
        </header>    </div>
        <div class="container">

        <section>
            @RenderBody()
        </section>
    </div>
    <footer style="position: absolute;
 bottom: 0;
 width: 100%;">
             <div class="container" >
                All Rights Reserved  Shashank Mishra 2018
            </div>

     </footer>

</body>
</html>
 